<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <strong>Name:</strong>
      <%= @manuscript.name %>
      <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_manuscript_path(@manuscript), class: 'btn btn-warning' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>Shelfmark:</strong>
      <%= @manuscript.shelfmark %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <strong>Quires:</strong>
      <%= @manuscript.quires.count %>
      <%= link_to 'New Quire', "#", class: "btn btn-success float-right",  data: { toggle: "modal", target: "#newQuireModal" } %>
    </div>
  </div>

  <%= render 'quires/new_quire_modal' %>

  <div class="row">
    <div class="col">
      <%= render 'quire_table' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'quire_table' %>
    </div>
  </div>
</div>
