<div class="container">
  <%= render 'manuscripts/bread_crumbs' %>
  <div class="row">
    <div class="col">
      <h3>
        <strong><%= @manuscript.name %></strong><%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_manuscript_path(@manuscript), class: 'btn btn-warning' %>
      </h3>
      <h5><%= link_to 'Generate XML', manuscript_path(@manuscript, :format => 'xml'), class: 'btn btn-success' %></h5>
      <h5><%= @manuscript.shelfmark %></h5>
      <h5><%= @manuscript.date %></h5>
      <h5>Quires: <%= @manuscript.quires.count %></h5>
      <%= link_to 'New Quire', new_manuscript_quire_path(@manuscript), class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'quire_table' if @manuscript.quires.count > 0 %>
    </div>
  </div>
</div>
