<div class="container">
  <div class="row">
    <div class="col-3">
      <strong>Shelfmark:</strong>
      <%= @manuscript.shelfmark %>
      <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_manuscript_path(@manuscript), class: 'btn btn-warning' %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <strong>Quires:</strong>
      <%= @manuscript.quires.count %>
      <p id="notice"><%= notice %></p>
      <%= link_to 'New Quire', new_manuscript_quire_path(@manuscript), class: "btn btn-success" %>
    </div>
  </div>
</div>
