<div class="container">
  <%= render 'manuscripts/bread_crumbs' %>
  <div class="row">
    <div class="col">
      <h3>
        <strong><%= @manuscript.name %> <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_manuscript_path(@manuscript), class: 'btn btn-warning' %></strong>
      </h3>
      <h5><%= @manuscript.shelfmark %></h5>
      <h5><%= @manuscript.date %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <strong>Quires:</strong>
      <%= @manuscript.quires.count %>
      <%= link_to 'New Quire', new_manuscript_quire_path(@manuscript), class: "btn btn-success float-right" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'quire_table' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'quire_table' %>
    </div>
  </div>
</div>
